In [1]:
import pandas as pd
data = pd.read_csv("data.csv")

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,2016,2017,2018,2019,2020,2021,2022,2023,2024,label
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,int
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,int
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,int
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,int
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,int

In [56]:
def comp(num_ind):
    ex1 = data.iloc[num_ind,:]
    ind = ex1.to_numpy().nonzero()[0]
    return ex1[ind]

In [67]:
n1 = 700
test1 = comp(n1)

In [68]:
n2=1288
test2 = comp(n2)

In [69]:
n3 = 1284
test3 = comp(n3)

In [70]:
common_ind1 = test1.index.intersection(test2.index)
common_ind2 = test2.index.intersection(test3.index)
test1 = test1[common_ind1][:-1]
test2a = test2[common_ind1][:-1]
test2b = test2[common_ind2][:-1]
test3 = test3[common_ind2][:-1]

In [76]:
print((test1 - test2a).mean())
print((test2a/test1).mean())
print((test3 - test2b).mean())
print((test2b/test3).mean())

-10.351724137931035
43.69636197180248
-2.9347826086956523
44.93690038849076

In [78]:
1298, 876
n4 = 1298
test4 = comp(n4)
n5 = 876
test5 = comp(n5)

common_ind1 = test4.index.intersection(test5.index)
#common_ind2 = test2.index.intersection(test3.index)
test4 = test4[common_ind1][:-1]
test5 = test5[common_ind1][:-1]

In [79]:
print((test4 - test5).mean())
print((test5/test4).mean())

16.366906474820144
32.184012997804054